@import "./variables";

@mixin cardbox {
  background: #fff;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 4px;
}

@mixin resetPaddingAndMargin {
  margin: 0;
  padding: 0;
}

@mixin anchorRules {
  a {
    color: $text-link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
