.skill-tag {
  margin: 2rem 0 2.5rem 0;

  span {
    border: 2px solid #92eac0;
    color: #525f7f;
    border-radius: 4px;
    padding: 0.45rem;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  }
}
