html {
  scroll-behavior: smooth;
}

.block {
  margin-top: 40px;
  &::before {
    display: block;
    content: ' ';
    margin-top: -64px;
    height: 64px;
    visibility: hidden;
    pointer-events: none;
  }
}

.company-img {
  width: 50px;
  display: block;
  margin: 3px 10px 0 0;
}

.job-container {
  display: flex;
}

.card .card-content {
  .small-margin-top {
    margin-top: 8px;
  }

  h6 {
    font-weight: 500;
    margin-top: 0;
  }
}

.small-margin-vertical {
  margin-top: 8px;
  margin-bottom: 8px;
}

nav {
  background: linear-gradient(50deg, HSLA(205, 43%, 49%, 1), #f62d51);
  a {
    font-size: 1.5rem;
  }
}

.container-gradient {
  position: relative;
  text-align: center;
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #f62d51);
  height: 30vh;
  .text-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

footer a {
  color: #ccc;
  font-size: 1.3rem;
  &:hover {
    color: #fff;
  }
}

@media only screen and (max-width: 480px) {
  nav a {
    font-size: 1rem;
  }
}
