@import './variables';
@import './mixins';
@import './skill-tag';
@import './head';
@import './websiteinfo';

* {
  box-sizing: border-box;
}

body {
  @include resetPaddingAndMargin();
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  background-color: #edeef0;
  color: $primary-text-color;
}
*::selection {
  background: #97e7ff;
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: #5a5959;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: #00aff0;
  }
}

.url a {
  border-bottom: 1px solid #5a5959;
  &:hover {
    border-bottom: 1px solid #00aff0;
  }
}

img,
form {
  width: 100%;
}

h1 {
  margin: 0.67em;
  font-weight: 400;
}

.section {
  padding: 2vh 19.1%;
  text-align: center;

  .project {
    margin: 4vh 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 4px;
    text-align: left;
  }
}

@media (max-width: 800px) {
  .section {
    padding: 2vh 11.805%;
  }
}
@media (max-width: 420px) {
  .section {
    padding: 2vh 0;
  }
}

.left {
  display: inline-block;
  display: flex;
  float: left;
  align-items: center;
}
.right {
  display: inline-block;
  padding: 18px;
  float: left;
  text-align: left;
}

@media (max-width: 1200px) {
  .left,
  .right {
    width: 100% !important;
  }
}

.image-container {
  position: relative;
  width: 60%;
  float: left;
}
.website-image {
  position: relative;
  img {
    display: block;
    width: 100%;
  }
}

.container {
  display: inline-block;
  text-align: left;
}
.website-link {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 6px 0;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #5a5959;
  font-size: 16px;
  text-align: center;
}
.image-container:hover .website-info,
.image-container.hovering .website-info {
  visibility: visible;
  opacity: 1;
}
.text {
  margin: 0;
  line-height: 1.5;

  &:not(:last-child) {
    padding-bottom: 9px;
  }
}
