@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #edeef0;
  color: #888;
}

#wrapper {
  text-decoration: none;
  color: #fff;
  margin-left: 15em;
  border-style: dashed;
  border-color: red;
  padding: 1em 0 1em 0;
}


h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: 1.1rem;
  color: #bdbdbd;
}

.header {
  padding: -em;
  background: #4acaa8;
  color: #d2f2e9;
  top: 0;
  width: 15em;
  /* grid-template-columns: 1fr; */
  height: 100%;
  position: fixed;
  color: #fff;
  text-align: center;
}

.header p {
  color: #fff;
}

.header ul {
  list-style: none;
}

.header nav ul {
  padding: 0;
  margin-top: 15%;
}

.header li {
  font-size: 1.3rem;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header nav ul li {
  border-top: solid 2px #5ccfb1;
  display: block;
  padding: 0;
  /* border-style: dashed; */
}

.header nav ul li a {
  display: block;
  background: #4acaa8;
  color: #fff;
}

.header nav ul li a.active {
  background: #fff;
  color: #4acaa8;
}

.header .social-icons {
  /* border-style: dashed; */
  padding: 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.header .social-icons a :hover,
:focus {
  color: #ffffff;
}
.header .social-icons a {
  color: #b7eadc;
}

.icon-with-text {
  display: inline-grid;
  grid-template-columns: 0.4fr 1fr; 

}
