@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #edeef0;
  color: #285473;
  text-align: left;
}

#root {
  display: grid;
  grid-template-columns: 0.7fr 3.5fr;
  padding: 1.5rem 5rem 0 5rem;
}

/*#region nav*/
#root .nav {
  width: 149px;
  padding-left: 1rem;
}

.nav ol {
  list-style: none;
  line-height: 250%;
  display: inline;
}

.nav li a {
  text-decoration: none;
  color: #285473;
}

.nav-left-ic {
  opacity: 0.75;
}
/*#endregion nav*/

#wrapper {
  padding: 0 1rem 0 1rem;
}

#wrapper h2 {
  text-align: left;
  color: #000;
  font-weight: normal;
  font-size: 1.3rem;
  padding: 0.7rem 0 0.7rem 0;
  margin: 0;
  border-bottom: 1px solid #e7e8ec;
}

#wrapper .card {
  background: #fff;
  padding: 0 1rem 1rem 1rem;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 4px;
  max-width: 50rem;
  margin: 0 auto 1rem 0;
}

#wrapper .card p {
  margin: 0;
}

#wrapper .card-header {
  height: 4rem;
  display: flex;
}

#wrapper .header-info {
  display: flex;
  flex-flow: column wrap;
  /* box-sizing: border-box; */
  /* height: 8rem; */
  margin-left: 1rem;
  justify-content: flex-start;
}

#wrapper .header-info * {
  margin: 0;
}

.header-info h3,
h4,
h5 {
  font-weight: normal;
}
.header-info h3 {
  font-size: 1.1rem;
  padding: 0;
}
.header-info h4 {
  font-size: 1rem;
  color: #939393;
  padding: 0;
}

.header-info h5 {
  color: #939393;
  font-size: 0.78rem;
  padding: 0 0 0.3rem 0;
}

.card-header img {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.3rem;
}

#wrapper .xp-description {
  color: #000;
  padding: 0;
  margin: 0;
}

#wrapper .xp-description a {
  color: #2a5885;
  text-decoration: none;
}

#wrapper .xp-description a:hover {
  text-decoration: underline;
}

.skill-tag {
  margin: 2rem 0 2.5rem 0;
}

.skill-tag span {
  border: 2px solid #92eac0;
  color: #525f7f;
  border-radius: 4px;
  padding: 0.45rem;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
}

#wrapper .xp-description img {
  object-fit: contain;
}

.contact-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: left;
}
.contact-links:first-child {
  margin-right: 0.7rem;
}

.contact-links a {
  color: #2a5885;
  text-decoration: none;
}

/* .contact-links span::after {
  content: "||";
  color: #525f7f;
  margin: 0 20px;
} */

.contact-links span:nth-child(3)::after {
  content: "";
  margin: 0;
}

.card-content {
  margin: 1rem 0 0 0;
}

/* beause of conflict with xp-section */
#two .card-content {
  margin: 0;
}

.xp-section {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #e7e8ec;
}

.card-content div:last-child {
  border-bottom: none;
}
